body, html {
    background-color: #F4F4F4; 
    margin: 0; 
    padding: 0;
    height: 100%; 
}

.logo {
    position: absolute;
    top: -20px; 
    left: 10px; 
    height: auto;
    width: 15%;
    z-index: 1000;
}

.full-width-corner {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    height: 82px; 
    z-index: 10; 
}

.full-width-corner2 {
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 40px;
    z-index: 10; 
}

.blue {
    background-color: #577880;
}

.button-style1 {
    position: absolute; 
    width: 130px;
    top: 24px;
    right: 44px;
    background-color: #577880;
    color: #cbcbcb; 
    border: 2px solid #577880; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    z-index: 1001;
    border-radius: 10px;
}

.button-style2 {
    position: absolute; 
    top: 24px;
    width: 130px;
    right: 150px;
    background-color: #577880;
    color: #cbcbcb; 
    border: 2px solid #577880; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    z-index: 1001;
    border-radius: 10px;
}

.cards-container {
    position: absolute;
    top: 93px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.card {
    height: 320px; 
    width: 200px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    position: relative;
    /* background-color: #FFF;  */
}

.card-price {
    display: flex;
    position: absolute; 
    bottom: -16px; 
    right: 0px;
    background-color: #577880; 
    color: #FFFFFF; 
    padding: 5px 88px; 
    border-radius: 0px; 
    font-size: 1em; 
}

.card img {
    width: 100%;
    display: block;
}
.card-info {
    padding: 10px;
    background-color: #f8f8f8;
}
.card-title {
    cursor: pointer; 
    margin: 0;
    color:#577880 ;
    font-size: 1.2em;
    text-align: center;
}

.card-type {
    margin: 0;
    color: #cbcbcb; 
    font-size: 1.2em;
    text-align: center;
}

.card-stats {
    display: flex;
    margin: 0;
    color: black ;
    font-size: 1em;
    text-align: center;
}

.price img {
    width: 100%;
    display: block;
}

.icon {
    height: 1.1em; 
    width: auto; 
    margin-right: 5px; 
}

.iconS {
    height: 1.5em; 
    width: 1em; 
    margin-right: 5px; 
}

.card-link {
    text-decoration: none; 
    color: inherit; 
}

.cards-container2 {
    position: absolute;
    top: 160px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 80%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.des{
    position: absolute;
    bottom: 200px; 
    left: 27%; 
    color:#577880 ;
    font-size: 1.2em;
}

.fire-card{
    background-color: #F89F68;
}

.electric-card{
    background-color: #E8CE65;
}

.poison-card{
    background-color: #8168B2;
}

.grass-card{
    background-color: #5B9641;
}

.water-card{
    background-color: #6CBCEB;
}

.bug-card{
    background-color: #E8CE65;
}

.normal-card{
    background-color: #A6B38C;
}
